<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>
            <id>virle-private</id>
            <repositories>
                <repository>
                    <id>virle-private</id>
                    <url>https://packages.aliyun.com/67cf0f12171fc8e8d8c4f8dc/maven/virle-private</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>


    <servers>
        <server>
            <id>virle-private</id>
            <username>67cf051087eb3ab8bcd05004</username>
            <password>jVaJML3fJ4C6</password>
        </server>
    </servers>
</settings>